@import "variables";
@import "mixins";
@import "normalize";

body {
	background: black;
	color: white;	
	/* font-family: monospace, sans-serif; */
	font-family: 'Fira Mono', sans-serif;
}

a {
	color: #1ba4ff;
	word-break: break-all;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    min-width: 100vw;
    min-height: calc(100vh - 50px);
}

.credits {
	display: none;
}

.instructions h2,
.instructions p {
	opacity: 0; 
}
				 
.content {
    flex-grow: 0;
    flex-shrink: 1;
}

.keyword {
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1.25px;
}

.btn {
	color: white;	
	text-transform: uppercase;
	font-weight: bold;
	border: 1px solid lighten($controls-color, 15%);
	background: lighten($controls-color, 15%);
	border-radius: 5px;	

	&:hover, &:focus, &:active {
		background: #000000;
		border: 1px solid white;
	}
}

.btn-start {
	padding: 0.5em 2em;
}

.command, 
.instructions,
.credits,
.message {
	max-width: 500px;	
	line-height: 1.5em;
	font-size: 1.25em;	
	margin: 0 1em;	
}

.title-screen,
.credits h2,
.instructions h2,
.message {
	text-align: center;
}

.title-screen h1 {
	font-size: 3em;
}

.instructions {	
	padding: 0.25em 1em;

	h2 {
		color: #000;
  		background: #FFF;
  		padding: 0.075em 0 0.075em 0;
	}
}

.command {
	padding: 1em 2em;
	min-height: 100px;	
	border: 2px solid white;	
	border-radius: 7px;
	background: $controls-color;
	background-image: -webkit-linear-gradient(lighten($controls-color, 10%), $controls-color);
	background-image: linear-gradient(lighten($controls-color, 10%), $controls-color);

	p {
		margin: 0.5em 0;
	}

}

.credits {
	overflow: auto;
}

@media (max-width: 540px) {
	.panel-img {
		width: 100vmin;
		height: 100vmin;
	}

	.command, 
	.instructions,
	.message {
		font-size: 1.075em;
	}

	.command {
		padding: 1em 1em;
	}
 
	.credits {
		font-size: 1.1em;
	}
}